<h1>This is my home page</h1>

<BR>
<h1>Using pipe in angular</h1>
<br>

<h3>I am a string and I am displayed in uppercase {{uname}}</h3>
<hr>
<br>
<h3>converting to lowercase  {{uname|lowercase}}</h3>
<br>
<h3>I am a string and I am displayed in lowercase {{lname}}</h3>
<hr>
<br>
<h3>converting to uppercase  {{lname|uppercase}}</h3>
<hr>
<br>
{{d1|date:'dd/MM/yyyy'}}<br>
{{d1|date:'dd-mon-yy'}}<br>
{{d2|date:'HH:mm:ss'}}<br>
{{d1|date:'dd/MM/yyyy'}}<br>

<br>

{{amt|currency:'USD'}}<br>
{{amt|currency:'EUR'}}<br>
{{amt|currency:'GBP'}}<br>
{{amt|currency:'INR'}}<br>
{{amt|currency:'JPY'}}<br>


